
# Data Types and Structures Questions

---

## **1. What are Data Structures and Why Are They Important?**
Data structures are **specialized formats** for organizing, processing, retrieving, and storing data.  
Examples in Python: `list`, `tuple`, `set`, `dict`, `str`.

**Importance:**
- **Efficiency:** The right data structure improves program speed and memory use.
- **Clarity:** Code is easier to understand and maintain.
- **Scalability:** Handles larger datasets without performance issues.

---

## **2. Mutable vs Immutable Data Types**
- **Mutable:** Can be changed after creation (contents can be altered, added, or removed).
```python
my_list = [1, 2, 3]
my_list.append(4)  # List is changed in place
```
- **Immutable:** Cannot be altered after creation; changes create a new object.
```python
my_tuple = (1, 2, 3)
my_tuple[0] = 99  # ❌ Raises TypeError
```

---

## **3. Lists vs Tuples**
| Feature         | List              | Tuple               |
|-----------------|-------------------|---------------------|
| Mutability      | Mutable           | Immutable           |
| Syntax          | `[ ]`             | `( )`               |
| Performance     | Slower (more flexible) | Faster (less flexible) |
| Use case        | Collections that may change | Fixed, constant collections |
| Hashable?       | No                | Yes (if elements are immutable) |

---

## **4. How Dictionaries Store Data**
- Implemented as **hash tables**.
- A **hash function** maps keys to numeric values (hash codes).
- These hash codes decide where key-value pairs are stored in memory.
- Average lookup, insertion, and deletion: **O(1)** time.

---

## **5. Why Use a Set Instead of a List?**
- **Uniqueness:** Sets automatically store only unique elements.
- **Speed:** Membership checks (`in`) are O(1) on average vs O(n) for lists.
- **Extra Features:** Support mathematical set operations like union and intersection.

---

## **6. Strings vs Lists**
- **String:** Immutable sequence of characters, can only store text.
- **List:** Mutable sequence, can store any data type.

---

## **7. How Tuples Ensure Data Integrity**
- Tuples are immutable, so their contents cannot be accidentally changed.
- Useful for constants or fixed datasets, such as coordinates `(x, y)`.
- Can be used as dictionary keys because they are hashable.

---

## **8. Hash Table & Dictionaries**
- **Hash Table:** Stores key–value pairs using a hash function for quick access.
- **Python Dictionaries:** Implemented as hash tables, giving fast lookups.

---

## **9. Lists with Different Data Types**
Lists in Python can contain mixed data types:
```python
data = [42, "hello", 3.14, True, [1, 2, 3]]
```

---

## **10. Why Strings are Immutable**
- **Performance:** Saves memory by reusing existing strings.
- **Safety:** Prevents accidental changes.
- **Hashability:** Allows strings to be dictionary keys.

---

## **11. Advantages of Dictionaries Over Lists**
- O(1) average lookup by key.
- No need to know element positions.
- Clear key–value mapping makes data more readable.

---

## **12. How Sets Handle Duplicates**
- If you add a duplicate element, it’s ignored:
```python
ids = {1, 2, 3}
ids.add(2)  # No effect, already exists
```

---

## **13. When to Prefer Tuples**
- Storing fixed collections of data:
```python
coordinates = (40.7128, -74.0060)  # Latitude and longitude
```

---

## **14. The `in` Keyword**
- **List:** Checks if a value exists among elements (O(n) time).
- **Dictionary:** Checks if a key exists (O(1) time).

---

## **15. Modifying Tuples**
- Tuples themselves are immutable, so elements can’t be reassigned.
- However, if a tuple contains a mutable object (like a list), that object can be changed:
```python
t = ([1, 2], 3)
t[0].append(4)  # Allowed because the list is mutable
```

---

## **16. Nested Dictionary**
A dictionary with dictionaries as values:
```python
employees = {
    "Alice": {"age": 25, "dept": "HR"},
    "Bob": {"age": 30, "dept": "IT"}
}
```
**Use case:** Storing structured data like JSON.

---

## **17. Dictionary Access Time Complexity**
- **Average case:** O(1) due to hashing.
- **Worst case:** O(n) if many keys hash to the same location (rare).

---

## **18. When Lists are Preferred Over Dictionaries**
- You need **ordered** data with duplicates.
- Data is **sequential** and accessed by position, not key.

---

## **19. Why Dictionaries are Unordered**
- Before Python 3.7: No guaranteed order.
- Python 3.7+: Insertion order preserved by implementation, but access is still by key, not index.

---

## **20. List vs Dictionary Retrieval**
- **List:** Retrieve elements by index (position number).
- **Dictionary:** Retrieve elements by key.
```python
names = ["Alice", "Bob"]
print(names[0])  # Alice
ages = {"Alice": 25, "Bob": 30}
print(ages["Alice"])  # 25
```

In [4]:
# 1. Create a string with your name and print it
name = input("Enter your name: ")
print("My name is",name)

Enter your name: Shubhanshu Tiwari
My name is Shubhanshu Tiwari

In [5]:
# 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [6]:
# 3. Slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [7]:
# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [8]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [9]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [11]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [12]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [13]:
# 10. Reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [14]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [15]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [16]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
print(min((10, 20, 5, 15)))

5

In [17]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
print(('dog', 'cat', 'rabbit').index("cat"))

1

In [18]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [19]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [20]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [21]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [22]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

In [23]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [24]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [25]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
print({'name': 'Alice', 'age': 30}["name"])

Alice

In [27]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
print("city" in {'name': 'Alice', 'city': 'Paris'})

True

In [29]:
# 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [30]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print it
import random
rand_nums = [random.randint(1, 100) for _ in range(5)]
rand_nums.sort()
print(rand_nums)

[3, 18, 23, 34, 34]

In [31]:
# 28. Create a list with strings and print the element at the third index
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

In [32]:
# 29. Combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
# 30. Convert a list of strings into a set
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'cherry', 'banana', 'apple'}